@tailwind base;
@tailwind components;
@tailwind utilities;

/* :root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
} */


body {
  font-family: "Amatic SC", sans-serif;  color: #0000008a;
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.5);
}




.main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  flex: 1;
  padding: 1rem;
  height: 95vh;

}

.header {
  background: linear-gradient(to left, rgb(17, 50, 82), rgb(202, 241, 201));
  width: 100%;
  height: 7vh;

  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: start;
position:fixed;
}


@keyframes rotation {
  0% {
      transform: rotate(0deg);
  }
  100% {
      transform: rotate(360deg);
  }
}

i {
  position: relative;
  display: inline-block;
  font-size: 1.7rem;
  color: transparent;
  background: linear-gradient(to left, rgb(17, 50, 82), rgb(202, 241, 201));
  -webkit-background-clip: text;
  background-clip: text;
  margin: 2rem;
  cursor: pointer;
  transition: background-color 0.3s, padding 0.3s; 
  
}

i:hover {
  background-color: #bdb8b81a;
  padding: 0.1rem 3rem;
  border: 2px solid white;
  border-radius: 20px;
}


.valid{
  color: rgb(236, 86, 86);
  font-size: 0.8rem;
}









.start-work {
  background-color: #fff;
  border: 1px solid #ccc;
  border-radius: 5px;
  box-shadow: 0 2px 4px #0000001a;
  width: 100%;
  max-width: 40em;
  height: auto;
  max-height: 70em;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 2rem;
  box-sizing: border-box;

}

.start-work h1 {
  margin: 0.3rem 0;
  font-size: 1.1rem;
  background: linear-gradient(to left, rgb(133, 151, 168), rgb(202, 241, 201));
  border-radius: 20rem;
}

button {
  background: #2680eb;
  border: none;
  border-radius: 4px;
  box-shadow: 0 3px 1px -2px #0003, 0 2px 2px #00000024, 0 1px 5px #0000001f;
  color: #fff;
  cursor: pointer;
  padding: 0.5rem 1.5rem;
  margin: 1rem;
  font-size: 1rem;
  transition: background .4s cubic-bezier(.25,.8,.25,1), box-shadow .28s cubic-bezier(.4,0,.2,1);
}

button:hover {
  background-color: #e4dfdf;
  color: #2680EB;
}

.erorButton{
  background-color:#bbb;
  color: white;
  cursor:default;
}
.erorButton:hover{
  background-color:#bbb;
  color: white;
}


@media only screen and (min-width: 320px) {
  .start-work {
    width: 90%;
    height: auto;
  }
}

@media only screen and (min-width: 768px) {
  .start-work {
    width: 70%;
  }
}

@media only screen and (min-width: 1200px) {
  .start-work {
    width: 50%;
  }
}

input{
  border: 1px solid #ccc;
text-align: center;
margin: 0.7rem;
padding: 0.5rem 0.5rem;
}






.loader {
  width: 48px;
  height: 48px;
  border: 2px solid #FFF;
  border-bottom-color: transparent;
  border-radius: 50%;
  display: inline-block;
  box-sizing: border-box;
  animation: rotation 1s linear infinite;
  position: absolute;
  left: 1.7rem;
  top: 0.5rem;
  }

  @keyframes rotation {
  0% {
      transform: rotate(0deg);
  }
  100% {
      transform: rotate(360deg);
  }
  } 